@charset 'utf-8';

$footer-padding: 2rem 1.5rem;

@import '../node_modules/bulma/bulma.sass';

@keyframes panorama {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 300vh;
    }
}

body {
    height: 100vh;
    background: $black url('../images/panorama.jpg') repeat-x;
    background-size: auto 100%;
    animation: panorama 30s linear infinite;
}

footer {
    bottom: 0;
    position: absolute;
    min-width: 100vw;

    &.footer {
        background-color: #0000;
    }
}

.outlined {
    text-shadow: 0 0 10px black;
    opacity: 0.8;
}
